GenericRestTemplate/target/
GenericRestTemplate/mvnw
GenericRestTemplate/mvnw.cmd
SampleWebServer/target/
SampleWebServer/mvnw
SampleWebServer/mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

